body
{
	margin: -1px;
	padding: px;
	background: #f0f0f0;
}

.main
{
	font-family: arial;
	color: white;
	font-size: 30px;
	/*background-color: #25C6CE;*/
	background-image: linear-gradient(to right,#04053D,#04053D,#232484,#04053D,#04053D );
	padding: 20px;
}


#entire
{
	margin: 40px;
	padding: 20px;
}

.quote
{
	background-image: url("tag2.jpg");
	width: 100%;
	height: 100px;
	display:inline-block;
  	padding:0px;
  	margin-left:-4px;
}

span
{
	font-size: 20px;
	float: right;
}

.tag
{
	text-align: center;
	font-family: arial;
	font-size: 20px;
}

img
{
	width: 80%;
	height: 500px;
}


a[class="navi"]
{
	font-family: arial;
	size: 10px;
	color:white;
}

h1
{
	font-family: courier;
	text-align: center;
	font-size: 50px;
}


p
{
	font-family: Verdana;
	font-size: 25px;
}

img{
	height: 500px;
	width: 463px;
}

#detail{
	margin-top: 100px;
	
}